body{
    display:flex;
    margin:0
}

.half_div{
    height:100vh; 
    width:50vw
}

.beer_pic{
    height:100vh; 
    width:50vw; 
    background-image:url(https://raw.githubusercontent.com/dpeet/dpeet.github.io/master/img/beer_foam.jpeg); 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover
}

.content__button{
 display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.1em 0.1em 0;
 border:0.16em solid rgba(255,255,255,0);
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
 text-align:center;
 transition: all 0.2s;
}
.content__button:hover{
 border-color: rgba(255,255,255,1);
}
@media all and (max-width:30em){
 .content__button{
  display:block;
  margin:0.2em auto;
 }
}